{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
{#    ----Originally----#}
{#        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>#}
{#    ----Updated to----#}
{#        now this link points to the url named 'detail' in polls/urls.py instead of the hardcoded polls/ #}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<h1>Search</h1>

<section class="search-section">
    <form method="POST" action='{% url 'polls:search' %}'>
        {% csrf_token %}
        <input type="text" class="search-bar" name="search">
        <input type="submit" value="Search">
    </form>
</section>

{% block content %}
<h1>Choice</h1>
<form role="form" action="{% url 'polls:sort' %}" method="post">
    {% csrf_token %}
    {{ sort_form.as_p }}
</form>
{% endblock %}

<h1>Go to CreateView</h1>
<a href="{% url 'polls:album-add' %}">Add an album</a>