<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <h1>Questions</h1>
    <form action='' method="post">
        {% csrf_token %}

        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        {{ form.last_name.label_tag }}
        {{ form.last_name }}

        <br>
        {{ form.gender.label_tag }}
        <br>
        {% for choice in form.gender %}
             <span class="radio">{{ choice.tag }}</span>{{ choice.choice_label }}
            {% cycle '' '<br>' %}
        {% endfor %}

        <br>

        {{ form.background.label_tag }}
        {{ form.background }}


{#     <li>#}
{#        <label for="id_background_0">#}
{#            <input id="id_background_0" name="background" type="checkbox" value="1">Sephardi#}
{#        </label>#}
{#    </li>#}
{#    <li>#}
{#        <label for="id_background_1">#}
{#            <input id="id_background_1" name="background" type="checkbox" value="2">Ashkenazi#}
{#        </label>#}
{#    </li>#}

        <input type="submit" value="Submit">
    </form>
</body>
</html>